<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>

  <%- include ("./partials/scroll") %>

  <%- include ("./partials/navbar") %>

  <%- include ("./partials/index/splash") %>
  <%- include ("./partials/index/mailchimp-modal") %>

  <div class="purple-white-transition"></div>

  <%- include ("./partials/index/main-event") %>

  <div class="white-blue-transition"></div>

  <%- include ("./partials/index/sponsors") %>

  <div class="blue-white-transition"></div>

  <%- include ("./partials/index/about") %>

  <div class="white-blue-transition"></div>

  <%- include ("./partials/index/faq") %>

  <div class="blue-white-transition"></div>

  <%- include ("./partials/index/team") %>

  <%- include ("./partials/footer") %>

  <%- include ("./partials/scripts") %>
</body>

</html>