<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>

  <%- include ("./partials/navbar") %>

  <%- include ("./partials/index/splash") %>
  <%- include ("./partials/index/mailchimp-modal") %>

  <div class="splash-transition"></div>

  <%- include ("./partials/index/summer-bootcamp") %>

  <div class="summer-bootcamp-transition"></div>

  <%- include ("./partials/index/about") %>
  <%- include ("./partials/index/going-virtual") %>

  <div class="about-transition"></div>

  <%- include ("./partials/index/industries") %>
  <%- include ("./partials/index/industry-modal") %>

  <div class="industries-transition"></div>

  <%- include ("./partials/index/sponsors") %>

  <div class="sponsors-transition"></div>

  <%- include ("./partials/index/faq") %>

  <div class="faq-transition"></div>

  <%- include ("./partials/index/team") %>

  <%- include ("./partials/footer") %>

  <%- include ("./partials/scripts") %>
</body>

</html>