<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>

  <%- include ("./partials/navbar") %>

  <%- include ("./partials/index/splash") %>

  <div class="splash-transition"></div>

  <%- include ("./partials/index/about") %>

  <div class="about-transition-2"></div>

  <%- include ("./partials/index/industries") %>

  <div class="section dummy-section">
    <div id="industries-end-transition"></div>
    <div id="sponsors" class="container">
      <h1 class="section-title">
        Sponsors
      </h1>
    </div>
  </div>

  <div class="section dummy-section">
    <div id="faq-start-transition"></div>
    <div id="faq" class="container">
      <h1 class="section-title">
        FAQ's
      </h1>
    </div>
  </div>

  <%- include ("./partials/index/team") %>

  <%- include ("./partials/footer") %>

</body>

</html>
