<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>

    <%- include ("./partials/navbar") %>

    <%- include ("./partials/splash") %>

    <%- include ("./partials/about-partial") %>

    <div class="about-transition"></div>

    <div class="section dummy-section">
        <div id="industries-start-transition"></div>
        <div id="industries" class="container">
            <h1 class="section-title">
                Industries
            </h1>
        </div>
    </div>

    <div class="section dummy-section">
        <div id="industries-end-transition"></div>
        <div id="sponsors" class="container">
            <h1 class="section-title">
                Sponsors
            </h1>
        </div>
    </div>

    <div class="section dummy-section">
        <div id="faq-start-transition"></div>
        <div id="faq" class="container">
            <h1 class="section-title">
                FAQ's
            </h1>
        </div>
    </div>

    <%- include ("./partials/team") %>

    <%- include ("./partials/footer") %>

</body>

</html>