<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>
<body>

  <%- include ("./partials/scroll") %>

  <%- include ("./partials/navbar") %>

  <%- include ("./partials/index/splash") %>
  <%- include ("./partials/index/mailchimp-modal") %>

  <div class="white-purple-transition"></div>

  <%- include ("./partials/index/links") %>

  <%# include ("./partials/index/events") %>

  <div class="white-blue-transition"></div>

  <%- include ("./partials/index/faq") %>

  <div class="blue-white-transition"></div>

  <%- include ("./partials/index/sponsors") %>

  <div class="white-green-transition"></div>

  <%- include ("./partials/index/team") %>

  <div class="green-white-transition"></div>

  <%- include ("./partials/index/about") %>

  <%- include ("./partials/footer") %>

  <%- include ("./partials/scripts") %>
</body>

</html>