<!-- DO NOT MAKE CHANGES TO THIS FILE -->
<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>
  <div id="screen">
    <%- include ("./partials/index/splash") %>
    <%- include ("./partials/index/information") %>
    <%- include ("./partials/index/faq") %>
    <%- include ("./partials/index/sponsors") %>
    <%- include ("./partials/index/team") %>
    <%- include ("./partials/index/about") %>
    <%- include ("./partials/index/footer") %>
    <%- include ("./partials/scripts") %>
  </div>
</body>

</html>