<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>

    <%- include ("./partials/navbar") %>

    <%- include ("./partials/index/splash") %>

    <div class="splash-transition"></div>

    <%- include ("./partials/index/about") %>

    <div class="about-transition"></div>

    <%- include ("./partials/index/industries") %>

    <div class="industries-transition"></div>

    <%- include ("./partials/index/sponsors") %>

    <div class="sponsors-transition"></div>

    <%- include ("./partials/index/faq") %>

    <div class="faq-transition"></div>

    <%- include ("./partials/index/team") %>

    <%- include ("./partials/footer") %>

    <%- include ("./partials/scripts") %>
</body>

</html>
