<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>

    <%- include ("./partials/navbar") %>

    <%- include ("./partials/index/splash") %>

    <div class="splash-transition"></div>

    <%- include ("./partials/index/about") %>

    <div class="about-transition"></div>

    <div class="section dummy-section">
        <div id="industries-start-transition"></div>
        <div id="industries" class="container">
            <h1 class="section-title">
                Industries
            </h1>
        </div>
        <div class="regular slider" style="width: 100%">
            <div class="card" style="width: 18rem;">
                <img src="/static/img/icons/1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/static/img/icons/2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/static/img/icons/3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/static/img/icons/4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/static/img/icons/5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/static/img/icons/6.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
    </div>


    <%- include ("./partials/index/sponsors") %>

    <div class="sponsors-transition"></div>

    <%- include ("./partials/index/faq") %>

    <div class="faq-transition"></div>

    <%- include ("./partials/index/team") %>

    <%- include ("./partials/footer") %>

    <%- include ("./partials/scripts") %>
</body>

</html>