<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

<body>

  <!-- custom "mardown" template partials for LIGHT navbar -->
  <%- include ("./partials/md/navbar") %>

  <br>

  <%- include ("./partials/md/content_wide") %>

  </br>

  <%- include ("./partials/footer") %>
  <%- include ("./partials/scripts") %>

</body>

</html>