<div class="section events-section">
  <div id="event" class="container">
      <!-- events section title -->
      <div class="row">
        <div class="col-md">
          <h1 class="section-title event-title">
            Upcoming Events
          </h1>
        </div>
      </div>
      <!-- carousel -->
        <div id="carouselExampleDark" class="carousel carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <% for (var i = 0; i < req.EVENTS.length; i++) { %>
              <% if (i == 0) {  %>
                <li type="button" data-target="#carouselExampleDark" data-slide-to="0" class="active"></li>
              <% } else { %>
                <li type="button" data-target="#carouselExampleDark" data-slide-to="<%= i %>"></li>
              <% } %>
            <% } %>
          </ul>
          <div class="carousel-inner">
            <% req.EVENTS.forEach(({ name, description, img }, index) => { %>
              <% if (index == 0) { %>
                <div class="carousel-item active" data-interval="20000">
                  <img class="justify-content-center mx-auto" src="/static/img/graphics/<%- img %>" alt="<%= name %>">
                  <div class="carousel-caption d-md-block">
                    <p><%- name %></p>
                  </div>
                </div>
              <% } else { %>
                <div class="carousel-item justify-content-center" data-interval="20000">
                  <img class="justify-content-center mx-auto" src="/static/img/graphics/<%- img %>" alt="<%= name %>">
                  <div class="carousel-caption d-md-block">
                    <p><%- name %></p>
                  </div>
                </div>
              <% } %>
            <% }) %>
          </div>
          <!-- buttons -->
          <a class="carousel-control-prev" type="button" data-target="#carouselExampleDark" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" type="button" data-target="#carouselExampleDark" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>        
  </div>
</div>
