
<div class="section events-section">
    <div id="event" class="container">
      <div class="row">
        <div class="col-md">
          <h1 class="section-title event-title">
            Events
          </h1>
        </div>
      </div>
      <div class="row">
            <% req.EVENTS.forEach(({ name, description, img }, index) => { %>
              <% if (index == 0) { %>
                <div class="col-md">
                  <div class="slide-item active">
                    <div class="carousel-caption">
                      <h3><%- name %></h3>
                      <p><%- description %></p>
                    </div>
                    <img class="d-block" src="/static/img/graphics/<%- img %>" alt="'<% name %>'">
                  </div>
                </div>
              <% } else { %>
                <div class="col-md">
                  <div class="slide-item">
                    <div class="carousel-caption">
                      <h3><%- name %></h3>
                      <p><%- description %></p>
                    </div>
                    <img src="/static/img/graphics/<%- img %>" alt="'<% name %>'">
                  </div>
                </div>
              <% } %>
            <% }) %>
      </div>
    </div>
</div>
