<div class="section events-section">
  <div id="event" class="container">
      <!-- events section title -->
      <div class="row">
        <div class="col-md">
          <h1 class="section-title event-title">
            Upcoming Events
          </h1>
        </div>
      </div>
  </div>
  <div class="container-fluid">
      <!-- carousel -->
        <div id="eventCarousel" class="carousel slide" data-ride="carousel"  data-interval="9000">
          <div class="carousel-inner row w-10 mx-auto" role="listbox">
            <% req.EVENTS.forEach(({ name, description, img }, index) => { %>
              <% if (index == 0) { %>
                <div class="carousel-item col-md-3 active">
                  <img class="img-fluid mx-auto d-block" src="/static/img/graphics/<%- img %>" alt="<%= name %>">
                  <div class="carousel-caption d-md-block">
                    <p><%- name %></p>
                  </div>
                </div>
              <% } else { %>
                <div class="carousel-item col-md-3">
                  <img class="img-fluid mx-auto d-block" src="/static/img/graphics/<%- img %>" alt="<%= name %>">
                  <div class="carousel-caption d-md-block">
                    <p><%- name %></p>
                  </div>
                </div>
              <% } %>
            <% }) %>
          </div>
          <!-- buttons -->
          <a class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev">
            <i class="fa fa-chevron-left fa-lg text-muted"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next text-faded" href="#eventCarousel" role="button" data-slide="next">
              <i class="fa fa-chevron-right fa-lg text-muted"></i>
              <span class="sr-only">Next</span>
          </a>
        </div>        
  </div>
</div>
