<div class="section faq-section">
  <!-- start faq section (2 column) -->
  <div id="faq" class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="section-title faq-title">
          FAQs
        </h1>
      </div>
    </div>
    <div class="row">
      <!-- (LHS) left hand side -->
      <div class="col-md">
        <% req.FAQ.LHS.forEach(({ q, a, idx }, index) => { %>
        <div class="question-block LHS text-center" onclick="showAnswer('<%= idx %>')">
          <h4 id="question-<%= idx %>" class="question" onmouseover="showAnswer('<%= idx %>')">
            <%= q %>
          </h4>
          <div id="tv-blip-<%= idx %>" class="tv-blip">
            <div id="tv-screen-<%= idx %>" class="tv-screen"></div>
          </div>
          <span id="answer-<%= idx %>" class="answer">
            <%- a %> 
          </span>
        </div>
        <% }) %>
      </div>
      <!-- MHS ("middle" hand side) -->
      <div class="col-md">
        <% req.FAQ.MHS.forEach(({ q, a, idx }, index) => { %>
        <div class="question-block MHS text-center" onclick="showAnswer('<%= idx %>')">
          <h4 id="question-<%= idx %>" class="question" onmouseover="showAnswer('<%= idx %>')">
            <%= q %>
          </h4>
          <div id="tv-blip-<%= idx %>" class="tv-blip">
            <div id="tv-screen-<%= idx %>" class="tv-screen"></div>
          </div>
          <span id="answer-<%= idx %>" class="answer">
            <%- a %>
          </span>
        </div>
        <% }) %>
      </div>
      <!-- RHS (right hand side) -->
      <div class="col-md">
        <% req.FAQ.RHS.forEach(({ q, a, idx }, index) => { %>
        <% if (idx != 9) { %>
        <div class="question-block RHS text-center" onclick="showAnswer('<%= idx %>')">
          <h4 id="question-<%= idx %>" class="question" onmouseover="showAnswer('<%= idx %>')">
            <%= q %>
          </h4>
          <div id="tv-blip-<%= idx %>" class="tv-blip">
            <div id="tv-screen-<%= idx %>" class="tv-screen"></div>
          </div>
          <span id="answer-<%= idx %>" class="answer">
            <%- a %>
          </span>
        </div>
        <% } else { %>
        <hr align="left" />
        <%= q %>
        <%- a %>
        <% } %>
        <% }) %>
      </div>
    </div>
  </div>
</div>