<div class="tab-pane fade industry-modal-content" id="<%- industryId %>" role="tabpanel" aria-labelledby="<%- industryId %>-tab">
  <div class="row align-items-center justify-content-center mb-3">
    <div class="col-4 text-center">
      <img class="industry-modal-content-img" src="<%- industryImgPath %>"/>
    </div>
    <div class="col-8">
      <div class="industry-modal-content-text">
        <p class="industry-description">
          <%- industryDescription %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <h6>Past Sponsors:</h6>
    <div class="industry-modal-content-sponsors">
      <% industryPastSponsors.forEach(sponsorImgPath => { %>
        <img class="industry-modal-sponsor-img" src="<%- sponsorImgPath %>">
      <% }) %>
    </div>
  </div>
</div>