<div class="modal fade" id="industry-modal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Industries</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body industry-modal-body">
        <div class="row align-items-center">
          <div class="col-3">
            <div class="nav flex-column nav-pills industry-modal-nav" role="tablist" aria-orientation="vertical">
              <% req.industryModalVariables.forEach(({industryId, industryName}) => { %>
                <a class="nav-link" id="<%- industryId %>-tab" data-toggle="pill" href="#<%- industryId %>" role="tab" aria-controls="<%- industryId %>" aria-selected="true"><%- industryName %></a>
              <% }) %>
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content" id="industry-tab-content">
              <% req.industryModalVariables.forEach((industry) => { %>
                <%- include ("./industry-modal-content", industry) %>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>