<div class="section industries-section">
  <div class="container">
    <h1 class="section-title industries-title">
      Industries
    </h1>
  </div>
  <div class="slider">
    <% for (let x = 0; x < 2; x++) { %>
    <div class="slide-track">
      <% for (let x = 0; x < req.industryModalVariables.length; x += 3) { %>
      <div class="slide">
        <div class="<%= x % 2 == 0 ? 'up' : 'down' %>">
          <img class="slider-image industry-modal-trigger top-left" industry-id="<%= req.industryModalVariables[x % req.industryModalVariables.length].industryId %>" src="<%= req.industryModalVariables[x % req.industryModalVariables.length].industryImgPath %>" industry-title="<%= req.industryModalVariables[x % req.industryModalVariables.length].industryName %>" data-tippy-placement="top" />
        </div>
        <div class="<%= x % 2 == 0 ? 'down' : 'up' %> bottom-left">
          <img class="slider-image industry-modal-trigger" industry-id="<%= req.industryModalVariables[(x+1) % req.industryModalVariables.length].industryId %>" src="<%= req.industryModalVariables[(x+1) % req.industryModalVariables.length].industryImgPath %>" industry-title="<%= req.industryModalVariables[(x+1) % req.industryModalVariables.length].industryName %>" data-tippy-placement="bottom" />
        </div>
        <div class="<%= x % 2 == 0 ? 'up' : 'down' %>">
          <img class="slider-image industry-modal-trigger" industry-id="<%= req.industryModalVariables[(x+2) % req.industryModalVariables.length].industryId %>" src="<%= req.industryModalVariables[(x+2) % req.industryModalVariables.length].industryImgPath %>" industry-title="<%= req.industryModalVariables[(x+2) % req.industryModalVariables.length].industryName %>" data-tippy-placement="top" />
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
</div>