<div class="card team-card">
  <div class="img-container" onclick="showTeamLinks('<%- name %>')">
    <img class="card-img-top team-card-img" src="<%- imgPath %>" />
    <div id='<%- name %>' class="member-overlay">
      <span class="link-span">
        <% Object.keys(links).forEach(linkClass => { %>
        <a class="team-social-link" href="<%- links[linkClass] %>" target="_blank">
          <i class="fab <%- linkClass %> fa-lg"></i>
        </a>
        <% }) %>
      </span>
    </div>
  </div>
  <div class="card-body">
    <span class="card-title team-card-title text-center">
      <%- name %>
    </span>
    <div class="text-center">
      <span class="team-position pixel-font">
        <%- position %>
      </span>
    </div>
  </div>
</div>