<div id="team" class="section">
  <img src="static/img/headers/Team_Header.svg" alt="Team">
  
   
<!--   
  <div id="team-content" class="content team-content">
    <% req.memberInfo.forEach((member) => { %>
    <div class="clue card">
     
      
      <div class="square">
        
        <div class="square"></div>
        <div class="rhombus">
          
          
        </div>
        
        
        <div class="inner-rhombus">
           <img class="photo" src="/static/img/team/<%- member.name.split(' ')[0].toLowerCase() %>.webp"/>
            <div class="photo" style="background-image: url(/static/img/team/<%- member.name.split(' ')[0] + '_' + member.name.split(' ')[1] %>.webp)">


            </div>
          </div>
        </div>
        
        <div class="rectangle">
          <div class="clue-card-name" style="text-align: center;">
            <div class="name" style="font-weight: bold; margin-top: 20px;"><%- member.name %></div>
            <div class="position" ><%- member.position %></div>
            
          </div>
          
        </div>

        
        <ul class="social">
          <% Object.entries(member.links).map(([icon, link]) => { %>
          <li><a href="<%- link %>" target="_blank">
            <% if (!icon.startsWith('fa')) { %>
            <img src="<%- icon %>" />
            <% } else { %>
            <i class="fa <%- icon %>"></i>
            <% } %>
          </a></li>
          <% }) %>
        </ul>
      </div>
      <% }) %>

  </div> -->

</div>